.mark{
    width: 100%;
    height:100%;
    position: absolute;
    background:rgba(0, 0, 0, 0.7)
}
.mark img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-50%,0)
}